<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="large-icon" src="../src/icons/notebook.svg" alt="notebookLogo">
        <h1>Todos</h1>
    </header>
    <nav>
        <div class="top">
            <div class="topCard">
                <img src="../src/icons/view-dashboard.svg" alt="dashboardIcon" class="large-icon">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="filter">
            <div class="navCard">
                <img src="../src/icons/calendar-range.svg" alt="rangeWeek" class="icon">
                <h3>This week</h3>
            </div>
            <div class="navCard">
                <img src="../src/icons/calendar-month.svg" alt="rangeMonth" class="icon">
                <h3>This month</h3>
            </div>
        </div>
        <div class="projectContainer">
            <div class="projects">
                <h1>Projects</h1>
                <div class="navCard projectCard">
                    <img src="../src/icons/folder.svg" alt="project" class="icon">
                    <h3>Project1</h3>
                </div>           
            </div>

            <div class="projectFormContainer">
                <form action="#" class="projectForm">

                    <input type="text" class="projectName" placeholder="Project Name">
                    <input type="button" class="addProject" value="ADD">
                    <input type="button" class="cancelProcess" value="CANCEL">

                </form>
            </div>
            <div class="navCard openProjectForm" >
                <img src="../src/icons/add.svg" alt="addProject" class="icon">
                <h3>Add New Project</h3>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="containerTodos">
            <h3 class="projectName">Project 1</h3>
            <div class="todos">
                
            </div>

            <div class="addTodo">
                <img src="../src/icons/add.svg" alt="addProject" class="icon addTodoIcon">
                <h3>Add new todo</h3>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
    <form action="#" class="taskForm">
        <h3>Add new task</h3>
         <div class="title">
            <label for="title">Title for task:</label>
            <input type="text" id="title" name="title" required>
        </div>    
            
        <div class="description">
            <label for="description">description:</label>
            <input type="textbox" id="description" name="title" required>
        </div> 
            

        <div class="dueDate">
            <label for="dueDate">Due date:</label>
            <input type="date" id="dueDate" name="dueDate" required>
        </div>

        <div class="priority">
            <label for="priority">Priority:</label>
            <select name="priority" id="priority">
                <option value="can wait">low</option>
                <option value="Do it soon!">medium</option>
                <option value="DO IT NOW!!!">high</option>
            </select>

        </div>
            
        <input type="submit" value="Add Task" class="addTask">
    </form>
    <footer>
        <p>Copyright © <script>document.write(" " + new Date().getFullYear() + " ")</script>Ritish Kandel</p>

    </footer>
</body>
</html>