/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





:root{
    --main-30: #262626;
    --main-60: #e9eef1;
	
    --header-card-background: #d4d4d4 ;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     
}

h1{
	font-size: 24px;
	font-weight: bold;
}

h3{
	font-size: 18px;
	font-weight: bold;
}

.large-icon{
	width: 50px;
	height: 50px;
}

.icon{
	width: 35px;
	height: 35px;
}
body{
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	min-height: 100vh;
	grid-template-columns: max-content 1fr;
}


header, footer{
	text-align: center;
	padding: 1rem;
	background-color: var(--header-card-background);

}

header{
	grid-area: 1/2/2/3;	
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

footer{
	grid-area: 3/2/4/3;
}

nav{
	grid-area: 1/1/4/2;
	background-color: var(--main-30);
	color: var(--main-60);
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 55px;
}

.topCard, .navCard{
    display: grid;
    grid-template-columns: 50px 200px;
    gap: 10px;
    padding: 5px;
    transition: 0.3s;
    cursor: pointer;
	align-items: center;
	width: 100%;
}
.topCard{
	padding-top: 1rem;
	cursor: auto;
}

.navCard:hover{
	border-left: 30px solid green;
	background-color: #313030;
}



nav h1{
	align-self: center;
}

.projectContainer h1{
	padding: 20px 0px 10px 10px;
}

.navCard h3{
	align-self: center;
}

nav img{
	justify-self: center;
}





.content{
	background-color: var(--main-60);
	display: flex;
	justify-content: center;
}

.containerTodos{
	width: 60%;
	padding-top: 2rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.todos{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.markDone{
	width: 20px;
	z-index: 1;
	height: 20px;
}

.markDone:hover{
	cursor: pointer;
}

.todo{
	display: grid;
	grid-template-columns: max-content max-content 1fr max-content max-content max-content;
	align-items: center;
	gap: 10px;
}

.todo, .addTodo{
	padding: 10px;
	border-radius: 10px;
	background-color: var(--header-card-background);
}

.addTodoIcon{
	filter: brightness(0%);
}

.addTodo{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.addTodo > h3{
	font-weight: normal;
}

.addTodo:hover{
	cursor: pointer;
	background-color: rgb(134, 240, 222);
	border: 1px solid black;
}



.overlay{
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	display: none;
}

.taskForm, .taskEditForm{
	position: absolute;
	background-color: var(--header-card-background);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem;
	border-radius: 5px;
	gap: 10px;
	transform: scale(0);
	width: max-content;
	height: max-content;
}



.taskForm > div, .taskEditForm>div{
	display: flex;
	flex-direction: column;
    width: 500px;
	gap: 3px;
}

.taskForm>div>input, form>div>select, .projectName{
	font-size: 15px;
	border: none;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid #E5E7EB;
}

.taskForm>div>input:focus, form>div>select:focus, .projectName:focus, .taskEditForm>div>input:focus{
	outline: none;
    border: 1px solid rgb(86, 203, 241);
    box-shadow: 3px 3px 3px -3px black;
}

.taskForm input[type=button], .taskEditForm input[type=button]{
	padding: 5px 5px;
	width: 100px;
	align-self: center;
	font-size: 15px;
	border-radius: 5px;
}

form input[type=button]:hover{
	cursor: pointer;
}

.projectForm{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px 18px 5px 18px;
	gap: 5px;
	display: none;
}



.projectName{
	grid-area: 1/1/2/3;
}

.icon:hover{
	cursor: pointer;
	filter: invert(19%) sepia(0%) saturate(3712%) hue-rotate(137deg) brightness(82%) contrast(90%);
}


.todoSlider{
	display: grid;
	grid-template-rows: 1fr max-content;
	grid-template-columns:  max-content 1fr max-content;
	row-gap: 5px;
	padding: 0px 5px;
}

.priorityCont{
	grid-area: 2/1/3/2;
}

.descriptionCont{
	grid-area: 1/1/2/4;
}

.dueDateCont{
	grid-area: 2/3/3/4;
}

.overlay:hover{
	cursor: pointer;
}

.completed{
	position: relative;
	background-color: rgba(212, 212, 212, 0.7);
}

.completed::after{
	content: '';
	position: absolute;
	height: 1px;
	background-color: black;
	width: 99%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.completed::before{
	content: '';
	position: absolute;
	height: 100%;
	background-color: black;
	width: 100%;
	opacity: 0;
	z-index: 1;

}

.completed .icon{
	opacity: 0.7;
}